/* Colors */

:root {
--green: rgba(26, 188, 156, 1);
--darkblue: rgba(44, 62, 80, 1);
--lightblue: rgba(58, 84, 109, 1);
--white: rgba(255, 255, 255, 1);

}

.debug [class^="col"] {
    /* background-color: aquamarine; */
}


.bg_darkblue {
    background-color: var(--darkblue);
}
.bg_lightblue {
    background-color: var(--lightblue);
}

.bg_green {
    background-color: var(--green);
}

.text_color {
    color: var(--green);
}

.bg_white {
    background-color: var(--white);
}

.line {
    width: 150px;
    height: 5px;
}

.portfolio .fa-star,
.contact .fa-star {
    color: var(--darkblue);
}

.border_radius_15 {
    border-radius: 15px;
}

.about {
    height: 500px;
}

.about .fa-download,
footer .fa-facebook-f {
    color: var(--white);
}

.form-control {
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 1px solid grey;
    border-radius: 0;
    padding: 0;
}


.text_area_height {
    height: 100px;
}

.rounded-circle {
    border-radius: 50%; 
    height: 50px; 
    width: 50px;
    display: inline-flex; 
    align-items: center;
    justify-content: center;
}




