/* Colors */

:root {
--green: rgba(26, 188, 156, 1);
--darkblue: rgba(44, 62, 80, 1);
--lightblue: rgba(58, 84, 109, 1);
--white: rgba(255, 255, 255, 1);

}

.debug [class^="col"] {
    /* background-color: aquamarine; */
    /* height: 100px; */
}


.bg_darkblue {
    background-color: var(--darkblue);
}

.bg_green {
    background-color: var(--green);
}

.hero {
    height: 500px;
    background-color: var(--green);
}

.about {
    height: 500px;
}

.contact {
    height: 500px;
}



